<!doctype html>
<html lang="en">
    <head>
        <title> Create To Do List</title>
    </head>
    <header>
        <nav>
            <a href="{% url 'todo_list_list' %}">Main Page</a>
        </nav>
    </header>
    <body>
        <main>
            <div>
                <h1>Create a new item</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button> Create </button>
                </form>
            </div>

        </main>
    </body>
</html>
