<!doctype html>
<html lang="en">
    <head>
        <title>Are you Sure?</title>
    </head>
    <header>
        <nav>
            {% comment %} <a href="{% url 'edit_detail' list.id %}">Edit</a> {% endcomment %}
        </nav>
    </header>
    <body>
        <main>
            <div>
                <h1>Are you sure?</h1>
                <form method="post">
                    {% csrf_token %}
                    <button>Delete</button>
                </form>
            </div>
        </main>
    </body>
</html>
