<!doctype html>
<html lang="en">
    <head>
        <title>To Do Detail</title>
    </head>
    <header>
    </header>
    <body>
        <main>
            <div>
                <h1>{{ list.name }}</h1>
                <p><a href="{% url 'todo_list_update' list.id %}">Edit List</a></p>
                <p><a href="{% url 'todo_list_delete' list.id %}">Delete</a></p>
                {% comment %} <p><a href="{% url 'todo_item_update' list.id %}">Edit Item</a></p> {% endcomment %}
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for each_detail in list.items.all %}
                        <tr>
                            {% comment %} <td>{{ each_detail.task }}</td> {% endcomment %}
                            <td><a href="{% url 'todo_item_update' each_detail.id %}">{{ each_detail.task }}</a></td>
                            <td>{{ each_detail.due_date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>

{% comment %} List, created on, task are all coming form the models {% endcomment %}
