<!doctype html>
<html lang="en">
    <head>
        <title>Update List</title>
    </head>
    <header>
        <nav>
            {% comment %} <a href="detail.html">{{Edit recipe}}</a>"> {% endcomment %}
        </nav>
    </header>
    <body>
        <main>
            <div>
                <h1>Update List</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Update</button>
                </form>
            </div>
        </main>
    </body>
</html>
