<!doctype html>
<html lang="en">
    <head>
        <title>To Do List</title>
    </head>
    <header>
    </header>
    <body>
        <main>
            <div>
                <h1> "My Lists"</h1>
                    <p><a href="{% url 'todo_list_create' %}">Create a new List</a></p>
                    <p><a href="{% url 'todo_item_create' %}">Create a new item</a></p>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for list in lists %}
                        <tr>
                            <td><a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a></td>
                            <td>{{ list.items.all|length }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
{% comment %} list.id, the list comes from views what you made the id variable {% endcomment %}
